<div class="card mt-2 chat-card <%=" text-muted bg-light" if chat.done %>"
  data-model_name="<%= Todo.model_name.singular %>"
  data-room_id="<%= chat.room.id %>"
  data-id="<%= chat.id %>">
  <div class="card-body pr-1">
    <div class="card-text pr-4">
      <%= chat.done ? tag.del(){simple_format chat.content} : (simple_format chat.content) %>
    </div>
    <div class="btn-group position-absolute" style="top: 10px; right: 4px">
      <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right text-middle">
        <%= form_with(model: chat, url: [chat.room, chat], remote: true) do |form| %>
          <% if chat.done %>
            <%= form.hidden_field :done, value: false, readonly: true %>
            <%= form.submit "未完了", class: "dropdown-item text-success" %>
          <% else %>
            <%= form.hidden_field :done, value: true, readonly: true %>
            <%= form.submit "完了！", class: "dropdown-item text-success" %>
          <% end %>
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to "編集", edit_room_chat_path(chat.room, chat), class: "dropdown-item", remote: true %>
        <%= link_to "削除",
            room_chat_path(chat.room, chat),
            method: :delete,
            class: "dropdown-item text-danger",
            remote: true, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <div class="card-text">
      <small class="text-muted">
        <%= chat.created_at.strftime('%Y/%m/%d') %>
      </small>
    </div>
  </div>
</div>