<div class="card mt-2 chat-card"
  data-model_name="<%= Chat.model_name.singular %>"
  data-room_id="<%= chat.room.id %>"
  data-id="<%= chat.id %>">
  <div class="card-body w-100 pr-1">
    
     <strong><%= chat.name %></strong>
    <div class="card-text pr-3">
      <%= chat.content %>
      <div>
      <% if chat.image? %>
    <%= image_tag chat.image.url, size: '320x240' %>
    
<% end %>
</div>
    </div>
      </div>
    </div>
    
  
