<div class="card mt-2 chat-card"
  data-model_name="<%= Chat.model_name.singular %>"
  data-room_id="<%= chat.room.id %>"
  data-id="<%= chat.id %>">
  <div class="card-body pr-1">
    <div class="card-text pr-4">
      <%= chat.name %>
      <%= chat.content %>
      <% if chat.image? %>
    <%= image_tag chat.image.url %>
<% end %>
    </div>
    <div class="btn-group position-absolute" style="top: 10px; right: 4px">
      <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right text-middle">
        <%= form_with(model: chat, url: [chat.room, chat], remote: true) do |form| %>
          
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to "編集", edit_room_chat_path(chat.room, chat), class: "dropdown-item", remote: true %>
        <%= link_to "削除",
            room_chat_path(chat.room, chat),
            method: :delete,
            class: "dropdown-item text-danger",
            remote: true, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <div class="card-text">
      <small class="text-muted">
        <%= chat.created_at.strftime('%Y/%m/%d') %>
      </small>
    </div>
  </div>
</div>